footer{
    height: 435px;
    background-color:  #FCFEFD;
    margin-top: 146px;
    .ft{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .f1{
            margin-top: 66px;
            p{
                width: 300px;
                color: #555;
                margin-top: 29.93px;
                line-height: 28px;
            }
        }
        .f2{
            margin-top: 60px;
            h4{
                font-size: 24px;
            }
            p{
                color: #555;
                margin-top: 24px;
            }
        }
        .f3{
            margin-top: 60px;
            h4{
                font-size: 24px;
            }
            p{
                color: #555;
                margin-top: 24px;
            }
        }
        .f4{
            margin-top: 55px;
            h4{
                font-size: 24px;
            }
            p{
                color: #555;
                margin-top: 40px;
            }
            .icons{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: -7px;
                margin-top: 25px;
                .icon{
                    font-size: 30px;
                    margin-right: 56px;
                }
            }
        }
    }
}