.intro{
    margin-top: 140px;
    h2{
        width: 671px;
        font-size: 58px;
        color: #222;
    }
    p{
        width: 637.01px;
        line-height: 26px;
        margin-top: 20px;
    }
    .best{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .bestc{
            display: flex;
            align-items: center;
            justify-content: space-around;  
            margin-top:  60px;
            p{
                width: 277px;
                color: #555;
            }
            h2{
                color: #222;
            }
            .bt{
                margin-left: 24px;
            }
        } 
        .bestc:nth-child(2){
            background-color: #F3FBF8;
        }  
    }
}