.zero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    .zt{
        padding: 0px 200px;
        margin-left: -200px;
        .app{
            h2{
                width: 662.63px;
                font-size: 60px;
                margin-top: 27px;
            }
            p{
                width: 500.65px;
                line-height: 27px;
                color: #555;
                margin-top: 20px;
            }
            .step{
                margin-top: 50px;
            }
        }
    }
}